#logging:
#    level:
#        org.springframework.security: DEBUG
#        org.springframework.security.web.access: DEBUG
#        org.springframework.security.authentication: DEBUG
#        org.springframework.security.oauth2.client: DEBUG
#        org.springframework.security.oauth2.jwt: DEBUG

server:
    port: 8080
    servlet:
        context-path: /api
    tomcat:
        max-threads: 100
        threads:
            max: 100
spring:
    profiles:
        active: dev
    liquibase:
        change-log: classpath:db/changelog/db.changelog-master.yml
        enabled: true
        defaultSchema: moth
    datasource:
        password: ${DB_PASSWORD}
        url: jdbc:postgresql://localhost:5432/mosqueethonon
        username: ${DB_USERNAME}
    jpa:
        hibernate:
            ddl-auto: none
            show-sql: true
        properties:
            hibernate:
                default_schema: moth
                dialect: org.hibernate.dialect.PostgreSQLDialect
    mail:
        host: smtp.gmail.com
        password: ${MAIL_SERVICE_PASSWORD}
        username:  ${MAIL_SERVICE_USERNAME}
        port: 587
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
    mvc:
        pathmatch:
            matching-strategy: ant_path_matcher
scheduled:
    confirmation-mail: 1 # unit = minutes

app:
    token-uri: ${TOKEN_URI}

auth:
    cookie:
        secure: ${COOKIE_SECURE}
        path: /api
        name: MOTH-TOKEN
        same-site: Lax