#logging:
#    level:
#        org.springframework.security: DEBUG
#        org.springframework.security.web.access: DEBUG
#        org.springframework.security.authentication: DEBUG
#        org.springframework.security.oauth2.client: DEBUG
#        org.springframework.security.oauth2.jwt: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: when_authorized

server:
  port: 8080
  servlet:
    context-path: /api
  tomcat:
    max-threads: 100
    threads:
      max: 100
spring:
  jackson:
    default-property-inclusion: non_null
  profiles:
    active: dev
  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yml
    enabled: true
    defaultSchema: moth
    user: ${DB_LIQ_USERNAME}
    password: ${DB_LIQ_PASSWORD}
  datasource:
    password: ${DB_PASSWORD}
    url: jdbc:postgresql://localhost:5432/mosqueethonon
    username: ${DB_USERNAME}
  jpa:
    hibernate:
      ddl-auto: none
      show-sql: true
    properties:
      hibernate:
        default_schema: moth
        dialect: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: smtp.gmail.com
    password: ${MAIL_SERVICE_PASSWORD}
    username:  ${MAIL_SERVICE_USERNAME}
    port: 587
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
scheduled:
  confirmation-mail: 1 # unit = minutes
  activation-utilisateur-mail: 1 # unit = minutes

app:
  token-uri: ${TOKEN_URI}
  login-redirect-uri: ${LOGIN_REDIRECT_URI}
  logout-redirect-uri: ${LOGOUT_REDIRECT_URI}
  allowed-origins: ${ALLOWED_ORIGINS}
  issuer-uri: ${ISSUER_URI}
  jwt-decoder-uri: ${JWT_DECODER_URI}
  activation-utilisateur-uri: ${ACTIVATION_UTILISATEUR_URI}
  rib-amc:
    file-location: ${RIB_AMC_FILE_LOCATION}
    mail-attachment-filename: ${RIB_AMC_MAIL_ATTACHMENT_NAME}

auth:
  cookie:
    secure: ${COOKIE_SECURE}
    path: /api
    name: MOTH-TOKEN
    same-site: Lax