<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="fr">
  <head>
    <title>Veuillez vous connecter</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>
  </head>
  <body>
     <div class="container">
      <form class="form-signin" method="post" th:action="@{/login}">
        <h2 class="form-signin-heading">Connexion</h2>
        <div th:if="${param.error}" class="alert alert-error">
          Nom d'utilisateur ou mot de passe incorrect.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
          Vous avez été déconnecté.
        </div>
        <p>
          <label for="username" class="sr-only">Nom d'utilisateur</label>
          <input type="text" id="username" name="username" class="form-control" placeholder="Nom d'utilisateur" required autofocus>
        </p>
        <p>
          <label for="password" class="sr-only">Mot de passe</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Mot de passe" required>
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Se connecter</button>
      </form>
</div>
</body>
</html>