# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Mosquée Thonon API CI

on:
  push:
    branches:
      - master
      - 'release-*'
  pull_request:
    branches:
      - master
      - 'release-*'
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environnement de déploiement (staging | production)'
        required: true
        default: 'staging'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        ref: ${{ github.ref }} # branche sur laquelle on a déclenché le workflow
          
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build
      env: #injection de valeurs bidon pour faire tourner les tests
        DB_PASSWORD: DB_PASSWORD
        DB_USERNAME: DB_USERNAME
        MAIL_SERVICE_USERNAME: MAIL_SERVICE_USERNAME
        MAIL_SERVICE_PASSWORD: MAIL_SERVICE_PASSWORD
        TOKEN_URI: TOKEN_URI
        COOKIE_SECURE: false
      run: mvn -B package --file pom.xml
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: mosqueethononapi
        path: target/*.jar

  deploy:

    runs-on: ubuntu-latest
    needs: build
    if: github.event_name == 'workflow_dispatch'  # Déclenchement de ce job manuellement

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: mosqueethononapi

    - name: Setup SSH
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
        
    - name: Update API
      run: |
        ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.TARGET_SERVER_IP }} "sudo systemctl stop mosqueethononapp-${{ github.event.inputs.environment }}.service"
        scp -r mosqueethononapp.jar ubuntu@${{ secrets.TARGET_SERVER_IP }}:/home/ubuntu/mosquee-thonon-api/${{ github.event.inputs.environment }}
        ssh -o StrictHostKeyChecking=no ubuntu@${{ secrets.TARGET_SERVER_IP }} "sudo systemctl start mosqueethononapp-${{ github.event.inputs.environment }}.service"
